[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
cdk-service = {editable = true, file = "file:///Users/jumyeonggil/workspace/cdk-service"}
"aws-cdk.cdk" = "*"
"aws-cdk.aws-rds" = "*"
"aws-cdk.aws-s3" = "*"
"aws-cdk.core" = "*"

[dev-packages]

[requires]
python_version = "3.9"
